<form class="ui stacked segment form" action="/bookmarkList/{{bookmarkList.id}}/addBookmark" method="POST">
  <div class="two fields">
    <div class="field">
      <label>title</label>
      <input placeholder="title" type="text" name="title">
    </div>
    <div class="field">
      <label>link</label>
      <input placeholder="link" type="text" name="link">
    </div>
  </div>
  <button class="ui blue submit button">Add Bookmark</button>
</form>