<body style="background-image:url('http://www.ptahai.com/wp-content/uploads/2016/04/7-Best-Bookmark-Managers.jpg')">

<nav class="ui menu">
  <header class="ui header item"> <a href="/welcome""> Home </a></header>
  <div class="right menu">
    <a id="bookmarkDB" class="item" href="/bookmarkDB"> Bookmarks </a>
    <a id="about" class="item" href="/about"> About </a>
     <a id="logout" class="item" href="/logout"> Logout </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>

