<form class="ui stacked segment form" action="/bookmarkDB/addBookmarkList" method="POST">
  <div class="field">
    <label>title</label>
    <input placeholder="title" type="text" name="title">
  </div>
  <button class="ui blue submit button">Add BookmarkList</button>
</form>