<body>
  
{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 style="color:gray;">This is a free app created by me... Arshad Ali</h2>
  <h2><i>Who am I?</i></h2>
  <h3><b>A simple and friendly in-process web developer :) </b></h3>
</section>

    <h3>Where you can find me?</h3>
    <h2>Clonmel, Tipperary, Ireland</h>
    <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJqxuUX_kxQ0gRU6o04mzweeg&key=AIzaSyDAhYspHiI0nOaMRBbg8FzbWkhVE63pDF8" allowfullscreen></iframe>
  
</body>
