<body>
  
{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h2 style="color:gray;">This is a free app created by me... Arshad Ali</h2>
  <h3><b>A simple and friendly in-process web developer :) </b></h3>
</section>

<section class="ui center aligned middle aligned segment">
  <h3>Where you can find me?</h3>
  <h2>Clonmel, Tipperary, Ireland</h></body></br>
  <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJqxuUX_kxQ0gRU6o04mzweeg&key=AIzaSyDAhYspHiI0nOaMRBbg8FzbWkhVE63pDF8" allowfullscreen></iframe>
</section>

<section class="ui center aligned middle aligned segment">
  <br>
  <br>
  <form class="ui stacked segment form" action="/about" method="#">
  <h2>Share your comments:</h>
    <div class="field">
      <input placeholder="Type your message here..." name = "message" type="text">
    </div>
    <button class="ui blue submit button">Send Message</button>
  </form>
  
</section>

</body>
