{{> menu}}

<body style="background-image:url('http://www.ptahai.com/wp-content/uploads/2016/04/7-Best-Bookmark-Managers.jpg')">

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Webmarks (V3)
  </h1>
  <p>
    A small app to help you to keep your favorite bookmarks
  </p>
   
</section>
  
<section class="ui center aligned middle aligned segment">
  <h3 class="ui header">
    Your statistics:
  </h3>
  <p>

    Total Bookmark Lists:</br> 
    <!-- Tried to run an external js file to present the numbers but didn't work-->
    <script type="text/javascript" src="models/array.js"></script>
    
    Total Bookmarks:</br>
  </p>

   <img src="http://wfarm1.dataknet.com/static/resources/icons/set112/1dff19db.png" width="200" height="141">

</section>
  
</body>